# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables / secrets
.env

# OS junk
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

# Pycharm .idea/
.idea/